/* Global styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	font-family: Arial, sans-serif;
	
  }
  
  /* Header styles */
  header {
	position: relative;
	background-color: #faf1f1d5;
	color: white;
	padding: 20px;
  }
  
  
  nav ul {
	text-align: right;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  nav ul li {
	
	display: inline-block;
	margin-left: 40px;
  }
  
  nav ul li:last-child {
	margin-right: 0;
  }
  
  nav ul li a {
	
	color: #589f63;
	text-decoration: none;
  }
  #web h1{
	color:lightseagreen;
	transform: translate(40%,-1800%);
	
  }
 #web p{
	color: cyan;
	transform: translate(30%,-2800%);
  }
  #on a img{
	width: 55px;
	height: 55px;
	image-resolution:inherit;
	border-radius: 65%;
	transition: all 0.3s;
	transform: translate(30%,-1000%);
  }
  div div img{

	border-radius: 60%;
	transform: translate(30%,30%);
  }
  #img3 img {
	border-radius: 30%;
	width: 250px;
	height: 250px;
 transform: translate(60%,50%);
   }
   /*portfolio id*/
   #portfolio ul li img{
     width: 20%;
	 height: 20%;
   }
  
  /* Main content styles */
  main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
  }
  
  section {
	margin-bottom: 40px;
  }
  
  h1,
  h2 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
  }
  
  p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
  }
  
  ul {
	list-style: none;
  }
  
  li {
	margin-bottom: 20px;
  }
  
  img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
  }

 
  button[type="submit"]:hover {
	background-color: cyan;
  }
  /* Footer styles */
  footer {
	background-color:white;
	color: #fff;
	text-align: center;
	padding: 20px;
  }
  